/* General styles */
/* Background Picture */
body {
    background-image: url("./pic.png");
    background-size: repeat;
}

body::before {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #B3A369;
    padding: 20px;
    text-align: center;
}

header hhh{
    background-color: #003057;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: normal;
}

h3 {
    margin: 0;
    padding: 0;
  }

h4 {
    margin-top: 20px;
    padding: 0;
    font-size: 20px;
  }
  
h7 {
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 0;
  }
  
  section {
    margin: 0;
    padding: 0;
  }

.container {
    margin-top: 10px;
    max-width: auto; /* Adjust the maximum width as needed */
    padding: 20px; /* Add some padding to the container */
    display: flex; /* Use Flexbox layout */
    flex-direction: row; /* Set the direction of the flex items to horizontal */
    align-items: center; /* Vertically center the flex items */
  }

  .image-container {
    float: right; /* Float the image container to the right */
    margin-left: 100px; /* Add some margin to the left of the image container */
    
  }

.container2 {
    margin-top: 10px;
    max-width: auto; /* Adjust the maximum width as needed */
    padding: 20px; /* Add some padding to the container */
    display: flex; /* Use Flexbox layout */
    flex-direction: row; /* Set the direction of the flex items to horizontal */
    align-items: center; /* Vertically center the flex items */
  }

.image-container2 {
    float: right; /* Float the image container to the right */
    margin-left: 100px; /* Add some margin to the left of the image container */
    
  }


p {
    font-size: 16px;
    margin-right:0px;
}

img {
    max-width: 200px;
    height: auto;
}

/* Links Setting */
/* Unvisited link color */
a:link {
    color: #006600;
}

/* Visited link color */
a:visited {
    color: #993366;
}

/* Active link color */
a:active {
    color: #006600;
}

a:hover {
    color: #993366;
  }

  .no-style_head {
    text-decoration: none;
  }

  .no-style_head:link {
    color: white;
  }

  .no-style_head:visited {
    color: white;
  }

  .no-style_head:hover {
    color: #993366;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    margin: 0 5px;
  }
  
  .social-icons img {
    height: 30px;
    width: 30px;
    object-fit: contain;
  }
  
  .social-icons a:hover img {
    opacity: 0.7;
  }

  .bottom-bar {
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(144, 238, 144, 0.5); /* sets the background color to light green with a transparency of 50% */
    color: black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
  }
  
  .bottom-bar__content {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
  }
  
  .bottom-bar__content > * {
    display: flex;
    align-items: center;
  }
  
  .bottom-bar__text {
    padding-right: 10px;
  }
  
  .bottom-bar__close {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 2em;
    margin-left: 50px;
  }
  
  